/*

*****************************************************************************

Title:  Style Sheet

Use:  Style sheet for Katherine Block's portfolio website.

Author:  Katherine Block

School/Term:  University of Missouri, Spring 2020

Developed: April 10, 2020

Validated: May 3, 2020

******************************************************************************

*/

h1 {text-align: center; color:#330066; font-family:serif; font-size:20pt; border-style: dashed; border-color: #330066; border-width: 5px; background-color: gainsboro;}
body {background-color: #ffffcc; margin:15px;}
footer {font-size: 16pt; border:5px dashed #330066; padding-top:5px; text-align:center; background-color: gainsboro; background-size: contain;}
#email:hover {color: #66cccc;}
#email:link {color: navy;}
#email:active {color: #660066;}
#email:visited {color: red;}
#email:focus {color: #000066;}
a {text-decoration: none; font-size: 16pt; color: navy;}
h3 {color:#330066; font-size:16pt;}
h2 {color:#330066; font-size:18pt}
p {text-align: center; font-size: 14pt}
#img {padding: 1em; width: 60%; height: auto;}
.img_wrapper {text-align: center;}
.left-column {width: 47.5%; display: inline-block; margin: 1%;}
.right-column {width: 47.5%; display: inline-block; margin: 1%; vertical-align: top;}
.single-column {width: 100%}
blockquote {font-family: "Open Sans"; font-size:16pt}
footer img {width: 1em; height: auto;}
footer img:hover {width:2em}
.artifacts {color: black; text-decoration: underline;}
.material-icons {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

@media screen and (max-width:959px) {
    .left-column {width: 100%;}
    .right-column {width:100%; margin-left: 0%;}
    #img {padding: 0;}
    
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media print {
    nav {
        display: none;
    }
    * {
        color: black !important; 
        border-color: black !important;
    }
    #headingone {
        padding: 0; margin: 0;
    }
    .single-column {width: 100%; margin: 0; display: inline-block;}
    .left-column {width: 100%; margin: 0; display: inline-block;}
    .right-column {width:100%; margin: 0; display: inline-block;}
    #img {padding: 0; width:200px; height:auto;}
    
    body{
    margin: 5mm 5mm 5mm 5mm;
    }
    
}

